body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    margin: 20px 0 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

main {
    flex-grow: 1;
}

footer {
    padding: 10px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copyright {
    position: relative;
    font-size: 14px;
    color: #656565;
    text-align: center;
}

footer .copyright a {
    color: #9c9c9c;
    text-decoration: none;
    transition: 0.3s;
}

footer .copyright a:hover {
    color: #7e7e7e;
}

footer .rs-school {
    fill: #fff;
    transition: 0.3s;
}

footer .rs-school:hover {
    fill: #c7c6c6;
}

footer .github {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

footer .github:hover {
    color: #c7c6c6;
}

footer .github svg {
    fill: #fff;
    transition: 0.3s;
}

footer .github:hover svg {
    fill: #c7c6c6;
}

@media (max-width: 576px) {
    footer {
        height: auto;
        flex-direction: column;
    }

    header h1 {
        text-align: center;
    }
}
