@use './../abstract/variables' as *;

.button {
  padding: 0 8px;
  height: 30px;

  color: $color-neutral;
  font-weight: 500;
  background-color: $color-accent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  outline: none;
  border: none;
  border-radius: 6px;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-accent;
  }

  &.primary {
    color: $color-accent;
    background-color: $color-neutral;

    &:hover {
      color: $color-neutral;
    }
  }
}
