@use './../../../../styles/layout/page' as *;
@use './../../../../styles/layout/padding' as *;

.page {
  @extend .page;

  min-height: 100vh;
  max-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: 80px calc(100vh - 160px) 80px;
}

.appName {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.main {
  @extend %wrapper-padding;
  width: 100%;

  flex: 1;

  display: flex;
  justify-content: space-between;
}
