@use './../../../../../../styles/abstract/variables' as *;

.message {
  padding: 5px 8px;
  width: fit-content;
  max-width: 60%;

  display: flex;
  flex-direction: column;
  row-gap: 3px;

  box-shadow: 0 2px 2px #0000001a;
  border-radius: 6px;
  background-color: $color-neutral;

  display: flex;

  &.outgoing {
    align-self: flex-end;
  }

  &.incoming {
    align-self: flex-start;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3px;

  font-size: 0.7rem;
  font-weight: 600;
  color: $color-font-accent;
}

.actionButtons {
  display: flex;
  column-gap: 3px;
  font-size: 0.8rem;

  * {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      filter: brightness(0.7);
    }
  }
}

.bottomInfo {
  align-self: flex-end;

  display: flex;
  align-items: center;
  column-gap: 3px;

  font-size: 0.7rem;
  font-weight: 600;
  color: $color-font-accent;
}

.fromUser {
  font-size: 0.8rem;
  font-weight: 600;
  color: $color-font-accent;
}

.statusContainer {
  display: flex;
}

.readStatus {
  margin-left: -3px;
}
