@use './../../../styles/abstract/variables' as *;
@use './../../../styles/base/normalize' as *;

:host {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
}

.row {
  display: flex;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  border: 1px #000000 solid;

  &.filled {
    background-color: #000000;
  }

  &.crossed {
    &::after {
      content: 'x';
    }
  }
}
