:host {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
}

.row {
  display: flex;
}

.cell {
  width: 5vw;
  height: 5vw;
  border: 1px #000000 solid;

  &.filled {
    background-color: #000000;
  }

  &.crossed {
    &::after {
      content: 'x';
    }
  }
}
