@use './../../../../styles/base/headings' as *;
@use './../../../../styles/layout/padding' as *;
@use './../../../../styles/layout/page' as *;

.page {
  @extend %page;
}

.pageMain {
  @extend %wrapper-padding;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  @extend %h1;
}

.description {
  text-align: center;
  color: #ffffff;
}

.greeting {
  @extend .description;

  font-size: 1.2rem;
}
