@use './../../../../../../../../styles/abstract/variables' as *;

.option {
  padding: 5px 7px;

  display: flex;
  justify-content: center;

  border: 1px solid $color-border-pale;
  border-radius: $small-border-radius;

  transition: 1s;

  &:hover {
    cursor: pointer;
    background-color: $color-accent-light;
  }

  &.correct {
    background: $color-accent-correct;
    border-color: $color-accent-correct-border;
  }

  &.wrong {
    background: $color-accent-wrong;
    border-color: $color-accent-wrong-border;
  }
}
