@use './../../../../../../../../styles/abstract/variables' as *;

.option {
  padding: 5px 7px;

  display: flex;
  justify-content: center;

  border: 1px solid $color-border-pale;
  border-radius: $small-border-radius;
  background-color: $color-neutral;

  box-shadow: 0px 1px 3px 1px #858585;

  transition: background-color order 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-accent-light;
  }

  &.correct {
    background: $color-accent-correct;
    border-color: $color-accent-correct-border;
  }

  &.wrong {
    background: $color-accent-wrong;
    border-color: $color-accent-wrong-border;
  }
}

.clone {
  &:hover {
    cursor: grab;
  }
}
