@use './../../../../styles/layout/padding' as *;
@use './../../../../styles/layout/page' as *;
@use './../../../../styles/abstract/variables' as *;

.page {
  @extend .page, %wrapper-padding;
  padding-top: 40px;
  padding-bottom: 40px;

  align-items: center;

  row-gap: 30px;
}

.mainPageButton {
  width: fit-content;

  background-color: transparent;
  border: none;
  font-weight: 600;

  border-bottom: 2px solid transparent;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    border-color: $color-font-accent;
  }
}

.content {
  max-width: 700px;
}
