@use './../../../../styles/abstract/variables' as *;

.winnersQuantity {
  margin-top: 10px;
  font-size: 1.6rem;
  margin-bottom: 6px;

  font-weight: 500;
  color: $color-neutral;
}

.table {
  display: flex;
}

.row {
  color: $color-neutral;

  td {
    padding: 10px;
    text-align: center;
  }
}
