@use './../../../../../styles/layout/padding' as *;

.container {
  @extend %wrapper-padding;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}
