$color-neutral: #ffffff;
$color-accent: #ff4281;
$color-accent-2: #ffad42;
$color-accent-light: #ff96b9;
$color-accent-correct: #a9ec71;
$color-accent-correct-border: #3dbb39;
$color-accent-wrong: #ff9696;
$color-accent-wrong-border: #ff4262;

$color-border-pale: #888888;

$small-border-radius: 6px;
