$color-neutral: #ffffff;
$color-accent: #ff4281;
$color-accent-2: #ffad42;
$color-accent-3: #4542ff;
$color-accent-light: #fdb6c2;
$color-accent-correct: #a9ec71;
$color-accent-correct-border: #3dbb39;
$color-accent-wrong: #ff9696;
$color-accent-wrong-border: #ff4262;

$color-border-pale: #cea0af;
$color-background-pale: #ffdeb3;

$small-border-radius: 6px;

$option-height: 45px;
