$color-neutral: #ffffff;
$color-disabled: #686868;
$color-accent: #177bbe;
$color-accent-2: #17be70;
$color-accent-3: #249292;
$color-accent-4: #928d24;
$color-accent-light: #b48d94;

$color-active: #17be62;

$color-background: #dadcff;

$color-border-pale: #cea0af;
$color-background-pale: #cec1b1;

$small-border-radius: 6px;
