@use './../abstract/mixins' as *;

.hangman {
  width: 100%;
  padding: 40px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__question-number {
    margin-top: 16px;
    text-align: center;
    font-size: 1.8rem;
  }

  &__body {
    display: grid;
    grid-template-columns: 50% 50%;

    @include portrait {
      gap: 30px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.9fr 1fr;
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-right {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include max-768 {
        row-gap: 16px;

        p {
          font-size: 1.6rem;
        }
      }

      @include portrait {
        row-gap: 22px;
      }
    }
  }

  &__input {
    margin-top: 16px;
    display: flex;
    gap: 10px;

    @include portrait {
      justify-content: center;
    }

    &-char {
      width: 4rem;
      display: flex;
      justify-content: center;
      font-size: 5rem;
      font-weight: 600;

      @include portrait {
        font-size: 3rem;
        width: 2rem;
      }

      @include max-768 {
        font-size: 4rem;
        width: 3rem;
      }

      @include max-576 {
        font-size: 3rem;
        width: 2rem;
      }
    }
  }

  &__hint,
  &__counter {
    @include portrait {
      text-align: center;
    }
  }
}
