/* Colors */

$text-dark: #403f3d;
$text-light: #ffffff;

$color-accent-blue: #55bdca;
$color-accent-dark: #022449;
$color-accent-hover: #244263;
$color-accent-red: #f27d42;

$color-disabled: #02244952;
$color-correct: #0a9405ad;

$background-body: #c8eff9;

$border-light: #c1b6ad;
$border-dark: #665f55;

/* Fonts */

$font-main: Montserrat, sans-serif;
