@use './../../../styles/abstract/variables' as *;
@import 'node_modules/modern-normalize/modern-normalize.css';

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to right top,
    $color-accent,
    $color-accent-2
  );
}
