// Colors

$color-background: #fbf3f2;
$color-accent: #1c768f;
$color-accent-secondary: #fa991c;

$color-text-main: #262626;
$color-text-reverse: #ffffff;

// Sizes

$cell-size: 5vw;

// Fonts

$font-main: 'Signika Negative', sans-serif;
