// Colors

$color-background: #fbf3f2;
$color-accent: #1c768f;
$color-accent-secondary-1: #fa991c;
$color-accent-secondary-2: #fa1c66;

$color-text-main: #262626;
$color-text-reverse: #ffffff;

// Sizes

:root {
  --cell-size: auto;
}

// Fonts

$font-main: 'Signika Negative', sans-serif;
