@use './../../../../styles/abstract/variables' as *;
@use './../../../../styles/layout/page' as *;
@use './../../../../styles/layout/padding' as *;

.main {
  @extend .page;
  @extend %wrapper-padding;
}

.carForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttons {
  display: flex;
  gap: 6px;
}
