@use './../../../../styles/abstract/variables' as *;
@use './../../../../styles/layout/page' as *;
@use './../../../../styles/layout/padding' as *;

.main {
  @extend .page;
  @extend %wrapper-padding;
}

.carForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.carQuantity {
  margin-top: 30px;
  font-size: 1.6rem;
  margin-bottom: 6px;

  font-weight: 500;
  color: $color-neutral;
}

.pageInfo {
  display: flex;

  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  color: lighten($color-accent-4, 20%);
}
