@use './../../styles/base/normalize' as *;
@use './../../styles/abstract/variables' as *;

:host {
  * {
    box-sizing: border-box;
  }
}

.nonogram {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    'a b b'
    'c d d'
    'c d d';

  .summary {
    // width: fit-content;
    grid-area: a;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-pane {
    grid-area: b;
    width: fit-content;

    display: flex;

    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
    border-left: 1px #000 solid;

    &__hint {
      width: $cell-size;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      border-top: 1px #000 solid;
      border-right: 1px #000 solid;
      border-left: 1px #000 solid;

      &:nth-child(5n):not(:last-child) {
        border-right: 2px #000000 solid;
      }
    }

    &__number {
      height: $cell-size * 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .left-pane {
    width: max-content;
    grid-area: c;

    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;

    &__hint {
      height: $cell-size;
      display: flex;
      justify-content: flex-end;

      border-top: 1px #000 solid;
      border-bottom: 1px #000 solid;
      border-left: 1px #000 solid;

      &:nth-child(5n):not(:last-child) {
        border-bottom: 2px #000000 solid;
      }
    }

    &__number {
      width: $cell-size * 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  game-field {
    grid-area: d;
  }
}
