@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

* {
	font-family: $font-main, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	color: $text-dark;
}

h1 {
	position: absolute;
	visibility: hidden;
}

.section-heading {
	margin: 0;
	text-align: center;
	font-size: 6rem;
	font-weight: 600;
	line-height: 125%;

	@include max-576 {
		font-size: 3.2rem;
	}
}

span {
	font: inherit;
}
