@use './../../../../../../styles/abstract/variables' as *;
@use './../../../../../../styles/layout/padding' as *;

.form {
  @extend %inner-padding;
  display: flex;
  column-gap: 6px;
}

.edit {
  background-color: $color-active;
}
