@use './../abstract/variables' as *;

.keyboard {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__row {
		display: flex;
		gap: 8px;
		justify-content: center;
	}

	&__key {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 2.4rem;
		font-weight: 500;
		color: $text-light;
		line-height: 100%;

		background-color: $color-accent-dark;
		border-radius: 8px;
		user-select: none;

		transition: 0.3s;

		&:hover {
			cursor: pointer;
			background-color: $color-accent-hover;
		}

		&.correct {
			background-color: $color-correct;
		}

		&.disabled {
			background-color: $color-disabled;
		}

		&.correct,
		&.disabled {
			&:hover {
				cursor: default;
			}
		}
	}
}
