@use './../abstract/variables' as *;

.modal {
  &__wrapper {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #3d3d3d5a;
    z-index: 20;

    transition: 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  padding: 20px;

  max-width: 500px;
  width: 85%;

  max-height: 300px;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  border-radius: 20px;
  background-color: $background-body;

  &__heading {
    font-size: 2.2rem;

    &.win {
      color: $color-correct;
    }
    &.lose {
      color: $color-accent-red;
    }
  }

  &__text {
    font-size: 1.8rem;
  }

  .accent {
    font-weight: 600;
  }

  &__button {
    padding: 8px 12px;

    font-weight: 500;
    color: #fff;

    border-radius: 10px;
    background-color: $color-accent-dark;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $color-accent-hover;
    }
  }
}
