@use './../../../../../styles/abstract/variables' as *;

.list {
  padding: 16px;

  display: flex;
  flex-direction: column;
  background-color: $color-background-dark;
  box-shadow: 2px 0 2px #0000001a;

  z-index: 10;
}

.user {
  position: relative;
  margin: 0;
  padding: 5px 5px 5px 18px;

  display: flex;
  column-gap: 3px;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-background-cover;
    box-shadow: 0 2px 2px #0000001a;
  }

  &::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &.online {
    &::before {
      background-color: $color-active;
    }
  }

  &.offline {
    &::before {
      background-color: $color-disabled;
    }
  }
}

.hidden {
  display: none;
}
