@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.button {
	display: flex;
	width: 200px;
	padding: 20px 78px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	line-height: 150%;
	font-weight: 600;
	border-radius: 100px;
	background-color: $background-body;

	&--store {
		width: 200px;
		padding: 12px 20px;
		justify-content: start;
		border: 1px solid $border-dark;
		transition: 0.3s;

		@include min-1024 {
			&:hover {
				cursor: pointer;
				background-color: $background-container;

				path {
					fill: $text-light !important;
				}

				* {
					color: $text-light;
				}
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__top {
		font-size: 1rem;
		font-weight: 600;
		line-height: 140%;
	}
}
