@use './../abstract/variables' as *;

.nav {
	display: flex;
	justify-content: center;
	align-items: center;

	&__list {
		display: flex;
		column-gap: 40px;
	}

	&__item {
		position: relative;
		font-weight: 600;
		line-height: 150%;
		list-style-type: none;

		&::after {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 50%;
			width: 0;
			height: 2px;
			background-color: $text-dark;
			transition: 0.3s;
		}

		&:hover {
			&::after {
				width: 100%;
				left: 0;
				right: 0;
			}
		}
	}
}
