@use './../abstract/variables' as *;

.slider {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__card {
		max-width: 480px;
	}

	&__controls {
		display: flex;
		justify-content: center;
		gap: 12px;
	}

	&__control {
		width: 40px;
		height: 4px;
		background-color: $border-light;

		&.active {
			background-color: $border-dark;
		}
	}
}
