@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.slider {
	&__body {
		position: relative;
		height: 640px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__cards {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		align-items: end;
	}

	&__card {
		position: absolute;
		top: 0;
		transform: translateX(-50%);

		max-width: 480px;

		&:nth-child(n + 2) {
			display: none;
		}

		&.slide-in-left {
			animation: 1s slide-in-left;
		}

		&.slide-out-left {
			animation: 1s slide-out-left;
		}

		&.slide-in-right {
			animation: 1s slide-in-right;
		}

		&.slide-out-right {
			animation: 1s slide-out-right;
		}
	}

	@keyframes slide-in-left {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(0%);
		}
	}

	@keyframes slide-out-left {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes slide-in-right {
		from {
			transform: translateX(-100%);
			display: none !important;
		}
		to {
			transform: translateX(0%);
			display: flex !important;
		}
	}

	@keyframes slide-out-right {
		from {
			transform: translateX(0%);
			display: flex !important;
		}
		to {
			transform: translateX(100%);
			display: none !important;
		}
	}

	&__controls {
		display: flex;
		justify-content: center;
		gap: 12px;
	}

	&__control {
		width: 40px;
		height: 4px;
		background-color: $border-light;

		&.active {
			background-color: $border-dark;
		}
	}

	&__arrow {
		@include max-576 {
			display: none;
		}
	}
}
