@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.about {
  &__heading {
    margin-bottom: 40px;
  }

  &__pics {
    display: flex;
    gap: 40px;

    &-row {
      height: 1060px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      &:nth-child(1) {
        .about__pic:first-child {
          height: 590px;
          flex-shrink: 0;
        }
      }

      &:nth-child(2) {
        .about__pic:first-child {
          height: 430px;
          flex-shrink: 0;
        }
      }
    }
  }

  &__pic {
    overflow: hidden;
    border-radius: 20px;
    flex-shrink: 1;

    img {
      scale: 1.1;
      object-position: center;
    }
  }
}
