@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.about {
	&__slider {
		margin-bottom: 40px;

		&-body {
			display: flex;
			align-items: center;
			gap: 58px;
		}

		&-arrow {
			display: none;
			background-color: transparent;

			&:disabled {
				path {
					stroke: $color-lightish;
				}
			}

			@include max-768 {
				display: block;
				padding: 5px;

				&--right {
					margin-right: 57px;
				}

				&--left {
					margin-left: 57px;
				}
			}
		}

		&-cards {
			position: relative;
			left: 0;
			display: flex;
			gap: 25px;
			margin-bottom: 40px;
			transition: left 0.4s ease-in-out;

			&-wrapper {
				overflow: hidden;
			}
		}

		&-card {
			flex-shrink: 0;

			img {
				width: 100%;
			}

			@include max-768 {
				flex-shrink: 0;
				width: 100%;
			}
		}

		&-controls {
			display: flex;
			justify-content: center;
		}

		&-control {
			&-wrapper {
				height: 26px;
				width: 26px;
				display: flex;
				align-items: center;
				justify-content: center;

				&:not(:nth-child(-n + 3)) {
					display: none;

					@include max-768 {
						display: flex;
					}
				}
			}

			height: 16px;
			width: 16px;
			border-radius: 50%;
			background-color: $color-main;

			&.active {
				background-color: $color-accent;
			}
		}
	}
}
