@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.about {
	&__heading {
		margin-bottom: 40px;
	}

	&__pics {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 430px auto 430px;
		gap: 40px;

		@include max-768 {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
		}
	}

	&__pic {
		overflow: hidden;
		border-radius: 20px;

		&:nth-child(1) {
			max-height: 590px;
			grid-row: 1 / 3;

			@include max-768 {
				grid-row: auto;
			}
		}

		&:nth-child(4) {
			max-height: 590px;
			grid-row: 2 / 4;

			@include max-768 {
				grid-row: auto;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			scale: 1.1;
			transition: scale 0.3s;

			@include max-768 {
				scale: 1.05;
			}
		}

		@include min-1024 {
			&:hover {
				img {
					scale: 1;
				}
			}
		}

		@include max-768 {
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
		}
	}
}
