@use './../abstract/mixins' as *;
@use './../abstract/variables' as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-body;
}

.wrapper {
  max-width: 1440px;
  padding: 0 2.777%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.transparent {
  opacity: 0;
}
