@use './../abstract/mixins' as *;

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}

.section {
	margin: 20px auto 60px;
}

img {
	max-width: 100%;
}

.transparent {
	opacity: 0;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-flex-sb {
	display: flex;
	justify-content: space-between;
}
