@use './../abstract/variables' as *;

.footer {
	* {
		color: $text-light;
	}

	&__content {
		padding: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 100px;
		background-color: $background-container;
		border-radius: 40px;
	}

	&__left,
	&__right {
		display: flex;
		flex-direction: column;
		gap: 39px;
	}

	&__socials {
		display: flex;
		gap: 12px;
	}

	&__social {
		border: 1px solid $border-light;
	}

	&__subheading {
		font-size: 2.4rem;
		line-height: 125%;
		font-weight: 600;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 20px;

		a {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 50%;
				width: 0;
				height: 2px;
				background-color: $text-light;
				transition: 0.3s;
			}

			&:hover {
				&::after {
					width: 100%;
					left: 0;
					right: 0;
				}
			}
		}
	}

	&__contact {
		width: fit-content;
		display: flex;
		gap: 8px;
		font-weight: 600;
		line-height: 150%;
		transition: 0.3s;

		&-icon {
			width: 20px;
			height: 20px;
		}
	}
}
