@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.header {
	$this: &;
	margin-bottom: 20px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 60px;
		width: 100px;
	}

	&__nav {
		@include max-1024 {
			display: none;
		}
	}

	&__redirect {
		height: fit-content;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		line-height: 150%;
		font-weight: 600;

		@include max-1024 {
			display: none;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 50%;
			width: 0;
			height: 2px;
			background-color: $text-dark;
			transition: 0.3s;
		}

		&.active {
			&::after {
				width: 100%;
				left: 0;
				right: 0;
			}
		}

		@include min-1024 {
			&:hover {
				&::after {
					width: 100%;
					left: 0;
					right: 0;
				}
			}
		}
	}

	&__burger {
		&-button {
			display: none;

			@include max-768 {
				display: block;
			}
		}
	}
}
