@use './../abstract/variables' as *;
@use './../abstract/mixins' as *;

.promo {
	&__background {
		padding: 100px;
		background-image: url('./../assets/images/img-hero.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 40px;

		@include max-768 {
			padding: 100px 60px;
		}
	}

	&__content {
		max-width: 530px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__heading {
		font-size: 7.2rem;
		line-height: 105%;
		color: $text-light;
	}

	&__description {
		line-height: 150%;
		color: $text-light;
	}

	&__button {
		position: relative;

		$this: &;

		&-text {
			transition: 0.3s;
		}

		.button__icon {
			position: absolute;
			right: 64px;
			visibility: hidden;
			opacity: 0;
			transition: 0.3s;
		}

		&:hover {
			#{$this}-text {
				transform: translateX(-14px);
			}

			.button__icon {
				visibility: visible;
				opacity: 1;
			}
		}

		@include max-768 {
			#{$this}-text {
				transform: translateX(-14px);
			}

			.button__icon {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
