@use './../../../../styles/abstract/variables' as *;
@use './../../../../styles/layout/padding' as *;

.header {
  @extend %wrapper-padding;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;

  background-color: $color-background-cover;
  box-shadow: 0 2px 2px #0000001a;
}
