@use './../../../../styles/layout/padding' as *;

.header {
  @extend %wrapper-padding;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
