.button {
  margin-top: 10px;
  height: 30px;

  color: #ffffff;
  font-weight: 500;
  background-color: #ff4281;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  outline: none;
  border: none;
  border-radius: 6px;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #ff5b6b;
  }
}
