@use './../../../../../../../styles/abstract/variables' as *;

.field {
  padding: 16px;
  height: $option-height * 10 + 32px;

  align-self: stretch;

  display: flex;
  flex-direction: column;

  border: 1px solid $color-border-pale;
}
