@use './../../../../../../../../styles/abstract/variables' as *;

.sentence {
  height: $option-height;
  min-width: 100%;

  align-self: stretch;

  display: flex;

  background-color: $color-accent-light;
  border-radius: $small-border-radius;

  &.completed {
    background-color: transparent;
  }
}
