@use './../../../../../../styles/base/background' as *;

.field {
  padding: 20px;

  width: 100%;
  max-width: 1300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @extend %light-background;
  border-radius: 16px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.droppable {
  z-index: auto;
}
