@use './../../../../../../../styles/abstract/variables' as *;

.field {
  padding: 16px;
  width: 100%;
  height: $option-height + 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 1px solid $color-border-pale;
}
