@use './../abstract/variables' as *;

.button {
  padding: 8px 12px;
  display: block;
  width: fit-content;

  color: $color-text-reverse;
  text-decoration: none;
  background-color: $color-accent-secondary-1;

  border-radius: 10px;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }

  &.disabled {
    cursor: default;
    filter: opacity(0.6) grayscale(0.5);

    &:hover {
      cursor: default;
      filter: opacity(0.6) grayscale(0.5);
    }
  }
}
