@use './../abstract/variables' as *;

* {
  font-family: $font-main, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: $text-dark;
}

h1 {
  position: absolute;
  visibility: hidden;
}

.section-heading {
  font-size: 6rem;
  font-weight: 600;
  line-height: 115%;

  & .accent {
    font-style: italic;
    color: $text-accent;
  }
}

span {
  font: inherit;
}
